Source: rocm-hipify-clang
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libedit-dev,
 libxml2-dev,
 libzstd-dev,
 rocm-env,
 rocm-llvm,
 rocm-smi-lib,
 rocm-hip-on-rocclr-dev,
 terminfo,
 zlib1g-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/HIPIFY
Vcs-Browser: https://github.com/r-rocm/rocm-hipify-clang
Vcs-Git: https://github.com/r-rocm/rocm-hipify-clang.git

Package: rocm-hipify-clang
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-hip-on-rocclr,
 rocm-smi-lib,
Description: HIPIFY: Convert CUDA to Portable C++ Code. Binary package.
 HIPIFY is a set of tools that you can use to automatically translate CUDA
 source code into portable HIP C++.


Package: rocm-hipify-clang-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-hipify-clang,
Description: HIPIFY: Convert CUDA to Portable C++ Code. Development package.
 HIPIFY is a set of tools that you can use to automatically translate CUDA
 source code into portable HIP C++.
